html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg-clr);
    color: var(--secondary-text-clr);
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --main-clr: red ;
    --primary-bg-clr: #000;
    --secondary-bg-clr: #fff;
    --third-bg-clr: #ccc;
    --primary-text-clr: #fff;
    --secondary-text-clr: #000;
    --hover-button-clr: darkred;
    --big-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    --medium-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    --small-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    --title-size: calc(16px + (35 - 16) * ((100vw - 300px) / (1600 - 300)));
   }
.main {
    flex: 1;
    box-sizing: border-box;
}
.containerr {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-bg-clr);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    font-size: var(--title-size);
    margin-bottom: 20px;
    text-align: center;
}
.section {
    margin-bottom: 30px;
    margin-left: 30px;
}
.section h2 {
    font-size: var(--medium-size);
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--primary-text-clr);
    background-color: var(--main-clr);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.btn-black {
    background-color: var(--primary-bg-clr);
}
.btn:hover {
    opacity: 0.9;
}
.switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.switch input {
    display: none;
}
.switch label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: var(--third-bg-clr);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.switch label::after {
    content: '';
    width: 16px;
    height: 16px;
    background: var(--secondary-bg-clr);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}
.switch input:checked + label {
    background: var(--main-clr);
}
.switch input:checked + label::after {
    left: 22px;
}