/* General styles */
html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--secondary-text-clr);
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --main-clr: red ;
    --primary-bg-clr: #000;
    --secondary-bg-clr: #fff;
    --primary-text-clr: #fff;
    --secondary-text-clr: #000;
    --third-bg-clr: #ccc;
    --hover-button-clr: darkred;
    --big-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    --medium-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    --small-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    --title-size: calc(16px + (35 - 16) * ((100vw - 300px) / (1600 - 300)));
   }
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-bg-clr);
    margin: 0;
    box-sizing: border-box;
}

.main h1 {
    text-align: left;
    font-size: var(--title-size);
    margin-bottom: 10px;
}

.main p {
    text-align: left;
    font-size: var(--medium-size);
    margin-bottom: 10px;
}

.quiz-question {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--third-bg-clr);
    border-radius: 8px;
    background-color: var(--secondary-bg-clr);
}

.quiz-question p {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--primary-bg-clr);
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    color: var(--secondary-text-clr);
}


.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--primary-text-clr);
    background-color: var(--main-clr);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
.btn:hover {
  opacity: 0.9;
  }
