body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--secondary-text-clr);
}

:root {
    --main-clr: red ;
    --primary-bg-clr: #000;
    --secondary-bg-clr: #fff;
    --primary-text-clr: #fff;
    --secondary-text-clr: #000;
    --hover-button-clr: darkred;
    --big-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    --medium-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    --small-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    --title-size: calc(16px + (35 - 16) * ((100vw - 300px) / (1600 - 300)));
   }

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--secondary-bg-clr);
    margin: 0;
}

.quiz-container {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--secondary-bg-clr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    border-radius: 8px;
}
.btn-start:hover {
    background: #c62828;
  }

.btn-search:hover {
    background: #c62828;
  }

.btn-start {
    width: 100%;
    background: var(--main-clr);
    color: var(--primary-text-clr);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
.btn-search {
    width: 50%;
    background: var(--main-clr);
    color: var(--primary-text-clr);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
