/* General styles */
html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--secondary-text-clr);
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --main-clr: red ;
    --primary-bg-clr: #000;
    --secondary-bg-clr: #fff;
    --primary-text-clr: #fff;
    --secondary-text-clr: #000;
    --hover-button-clr: darkred;
    --big-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    --medium-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    --small-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    --title-size: calc(16px + (35 - 16) * ((100vw - 300px) / (1600 - 300)));
   }
.main {
    flex: 1;
    background-color: var(--secondary-bg-clr);
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--secondary-bg-clr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container p {
    color: var(--secondary-text-clr);
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--secondary-text-clr);
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--small-size);
}

.btn-login {
  width: 100%;
  background: var(--main-clr);
  color: var(--primary-text-clr);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: #c62828;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #e53935;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: none;
}



